body {
    background-color: #333;
}
#game-board {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    width: 500px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
}

button {
    width: 100px;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: lightblue;
    cursor: pointer;
}

#container {
    display: grid;
    grid-template-columns: auto auto;
}

#winner {
    font-weight: bold;
    scale: 1.2;
}

#p-win {
    display: none;
}
#c-win {
    display: none;
}
#tie {
    display: none;
}

.restart-game {
    display: none;
    font-size: 15px;
    width: auto
}